*{
  margin: 0;
  padding: 0;
  background: #010712;
}
.container{
  margin:10vw;

}
.box{
  height: 20rem;
  width: 20rem;
  background-color: aqua;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.show{
  font-size: 0.6vw;
  display: block;
  flex-direction: column;
  padding: 2rem 0;
  background: none;
}
.hide{
  display: none;
}